{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
<script
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"
    type="text/javascript">
    MathJax.Hub.Config({messageStyle: "none"});
</script>
<script type="text/javascript">
function getElement(aID) {
    return (document.getElementById) ?
        document.getElementById(aID) : document.all[aID];
}

function getIFrameDocument(aID) { 
    var rv = null; 
    var frame=getElement(aID);
        if (frame.contentDocument)
            rv = frame.contentDocument;
        else
            rv = document.frames[aID].document;
    return rv;
}

function adjustMyFrameHeight() {
    var frame = getElement ("myFrame");
    var frameDoc = getIFrameDocument ("myFrame");
    frame.height = frameDoc.body.offsetHeight + 100;
}
</script>

  <header role="banner">{% include header.html %}</header>
  <nav role="navigation">{% include navigation.html %}</nav>
  <div id="main">
    <div id="content">
      {{ content | expand_urls: root_url }}
    </div>
  </div>
  <footer role="contentinfo">{% include footer.html %}</footer>
  {% include after_footer.html %}
</body>
</html>
